.skills{
   
    ul{
        li{
            margin-bottom: var(--spacing-1);

            i{
                padding-right: 1rem;
            }

            img.linkedin-qrcode{
                width: 300px;
                height:400px;
            }
        }
    }
}