.sidebar {
    /*background: linear-gradient(115deg, $color-1 50%, transparent 100%);*/
    background: $color-1 ;
    font-family: $font-1;
    height: 100%;
    min-height: $minHeight;
    min-width: 264px;
    border-radius: $borderRadius;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr 108px;
    grid-template-areas: 
      "1"
      "2"
      "3"
    ;
  
    .id {
      grid-area: 1;
      text-align: center;
      user-select: none;
      position: relative;
      
      .idContent {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        span.brieffing{
          font-size: .7rem;
          letter-spacing: .1rem;
          margin-top: .2rem;
          color: #eee;
        }
  
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          box-shadow: 0 0 0 2px $color-1;
        }
        
        h3 {
          font-size: .7rem;
          text-transform: uppercase;
          letter-spacing: .2rem;
          margin-top: .5rem;
          color: $color-3;
        }

      }
    }
    .navigation {
      grid-area: 2;
      padding: 2rem 1rem;
  
      ul {
        height: 100%;
        display: grid;
      
        li {
          padding: 1rem 0 1rem .4rem;
          font-size: 1.3rem;
          position: relative;
  
          &:hover i {
            transform: translate(3px, 3px);
          }
  
          a {
          color: $color-3;
          }
          
          .navActive {
            color: $color-4;
          }
  
          i {
            position: absolute;
            font-size: 0.95rem;
            transform: translateY(3px);
            transition: .2s ease;
          }
          span {
            margin-left: 2.7rem;
          }
          span:hover {
            transform: translate(3px, 3px);
            color: $color-5;
          }
        }
      }
    }

    .socialNetwork {
      grid-area: 3;
  
      ul {
        display: flex;
        width: 264px;
        padding: 0 14px;
        justify-content: space-between;
  
        li {
          font-size: 1.5rem;
          background: $color-3;
          color: $color-1;
          border-radius: 50%;
          padding: .5rem 0.8rem;
          transition: .3s;
          cursor: pointer;
  
          a:visited {
            color: $color-1;
          }
          &:nth-child(1){
            padding: .5rem .85rem
          }
          &:nth-child(4){
            padding: .5rem .75rem
          }
          &:hover {
            background: $color-4;
          }
        }
      }

      .signature {
        margin-top: 2rem;
        text-align: center;
        letter-spacing: 0.1rem;
        font-size: .7rem;
  
        a, a:visited {
          color: $color-5;
  
          &:hover {
            color: $color-4;
          }
        }
      }

    }
  }

  @media screen and (max-width: 850px){
    .sidebar {
      background: $color-1 ;
      display: flex;
      min-height: 50px;
      margin-bottom: .2rem;

      .socialNetwork {
        display: none;
      }

      .id {
        .idContent {
          top: 3px !important;
          left: 3px !important;

          h3{
            display: none;
          }

          span{
            display: none;
          }

          img {
            width:10px;
            height: 10px;
            border-radius: 50%;
            box-shadow: 0 0 0 2px $color-1;
          }
        }
      }

      .navigation {
        width: 100%;
        padding: .1rem 1rem;
  
        ul {
          display: flex;
          justify-content: space-between;
  
          span {
            margin-left: 1.5rem !important;
          }
        }
      }
    }
  }
  
  @media screen and (max-width:580px){
    .sidebar {
      background: $color-1 ;

      .id {
        .idContent {
          top: 10px !important;
          left: 10px !important;

          h3{
            display: none;
          }

          span{
            display: none;
          }

          img {
            width:30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: 0 0 0 2px $color-1;
          }
        }
      }

      ul {
        justify-content: space-around !important;
  
        li {
          padding: 1rem 0 !important;
        }
        i {
          font-size: 1.4rem !important;
          transform: translateY(-3px) !important;
        }
        span {
          display: none;
        }
      }
    }
  }