.skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;

    .skill-rating{
        .circle{
            display: inline-block;
            width:10px;
            height: 10px;
            margin-right: 8px;
            border-radius: 50%;
            background-color: var(--circle-color);
        }

        .circle-plain{
            background-color: var(--circle-color-plain);
        }

        .darkTheme .circle{
            background-color: var(--dark-circle-color);
        }

        .darkTheme .circle-plain{
            background-color: var(--dark-circle-color-plain);
        }
    }
}